{{#link-to 'comp.show' item.id}}
<div class="nowrap-line">
  <div class="list-group-component-title">{{item.name}}</div>
  <div class="list-group-component-amount">({{item.amount}})</div>
</div>
<div class="list-group-component-body nowrap-line">{{item.summary}}</div>
<div>{{tag-labels tags=item.tags unlinked=true}}</div>
{{/link-to}}
<span class="list-group-component-right glyphicon glyphicon-chevron-right"></span>
