<div class="col-xs-12 hidden-md hidden-lg">
  <ul class="pager">
    <li class="previous">
      {{#if pagination.previous}}
	{{#link-to 'comp.index' (query-params page=pagination.previous)}}
	Previous
	{{/link-to}}
      {{else}}
	<span>Previous</span>
      {{/if}}
    </li>
    <li class="next">
      {{#if pagination.next}}
	{{#link-to 'comp.index' (query-params page=pagination.next)}}
	Next
	{{/link-to}}
      {{else}}
	<span>Next</span>
      {{/if}}
    </li>
  </ul>
</div>
