<div class="col-md-12 hidden-xs hidden-sm">
  <ul class="pagination">
    {{#if pagination.previous}}
      <li>
	{{#link-to 'comp.index' (query-params page=pagination.previous)}}
	<span class="hidden-xs hidden-sm">&laquo;</span>
	{{/link-to}}
      </li>
    {{else}}
      <li class="disabled"><a>
	<span class="hidden-xs hidden-sm">&laquo;</span>
      </a></li>
    {{/if}}
    {{#each page in pageArray}}
      <li {{bind-attr class="page.active:active :hidden-xs :hidden-sm"}}>
	{{#link-to 'comp.index' (query-params page=page.page.page)}}{{page.page}}{{/link-to}}
      </li>
    {{/each}}
    <li></li>
    {{#if pagination.next}}
      <li>
	{{#link-to 'comp.index' (query-params page=pagination.next)}}
	<span class="hidden-xs hidden-sm">&raquo;</span>
	{{/link-to}}
      </li>
    {{else}}
      <li class="disabled"><a>
	<span class="hidden-xs hidden-sm">&raquo;</span>
      </a></li>
    {{/if}}
  </ul>
</div>
