.pdf-image {
    height: 24px;
}

.panel-title a.btn-primary {
    color: #fff !important;
}

.hide-element {
    display: none !important;
}

.thumbnail-asset {
    position: relative;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.thumbnail-asset:hover .remove-asset {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #999;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 200%;
    display: inline-block;
}

.remove-asset {
    display: none;
}

.image-link-thumbnail {
    width: 100%;
}

span.has-error {
    color: #a94442;
    font-weight: bold;
}

.list-group-component {
    position: relative;
    height: 8em;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.list-group-component a {
    color: black;
    width: 100%;
    display: block;
    height: 8em;
    padding: 10px 30px;
}

.list-group-component a:hover {
    color: black;
    text-decoration: none;
    background-color: #ddd;
}

.list-group-component-right {
    position: absolute;
    right: 20px;
    top: 3.5em;
}

.list-group-component-title {
    font-size: 200%;
    display: inline-block;
}

.nowrap-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;
}

.list-group-component-body {
    display: block;
}

.list-group-component-amount {
    display: inline-block;
    color: #888;
}

.panel {
    border: 0;
    box-shadow: 0 0 0;
}

.panel-default > .panel-heading {
    background-color: inherit;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.panel-body {
    padding: 0;
}

.navbar-full-width {
    padding-right: 0;
    margin-right: -15px;
}

.navbar-right {
    margin-right: 0;
}

.pagination > li.spacer > a {
    border-top: 0;
    border-bottom: 0;
}

.loader {
    display: inline-block;
    background-image: url(/img/spiffygif_20x20.gif);
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.pager-data {
    display: inline-block;
    margin-left: 15px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}