<div class="container">
  <div class="col-md-6 col-lg-6">
    {{comp-view model=model}}
  </div>
  {{#if hasFiles}}
    <div class="col-md-6 col-lg-6">
      {{#if files.datasheets}}
        {{file-box componentId=model.id name='Datasheets' files=files.datasheets type='thumbnails' imageSize=240}}
      {{/if}}
      
      {{#if files.documents}}
        {{file-box componentId=model.id name='Documents' files=files.documents type='list'}}
      {{/if}}
      
      {{#if files.images}}
        {{file-box componentId=model.id name='Images' files=files.images type='thumbnails' imageSize=160}}
      {{/if}}
    </div>
  {{/if}}
</div>
